@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Nemocnice </h1>
	<br />
	<p>This is project from Ondrej Kosata, who is studying requalification course on VSB-TUO.</p>
</div>
